.container_ajustes_page {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 88vh;
    background-image: url(/src/assets/img/img-fondo-home.png);

    & .ajustes_page {
    
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
    gap: 25px;

    & .ajustes_page_div_opciones{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 8px;
        gap: 30px;
        width: 500px;
        height: 600px;
        background-color: rgb(245, 245, 245);

        & .ajustes_page_link{
            color: aliceblue;
            text-decoration: none;
            font-size: 20px;
            font-weight: 700;
            border-radius: 22px;
            width: 400px;
            height: 50px;
            background-color: rgb(141, 62, 214);
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    & .ajustes_page_div_opciones_menu{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 8px;
        width: 500px;
        height: 600px;
        background-color: rgb(245, 245, 245);

        & .ajustes_page_div_opciones_menu_div{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 20px;

            & .ajustes_page_menu_inputs_div{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;
                gap: 10px;
            }
        }
    }
    }
}