.header_hero{
    background-color: var(--background-color-header);

    width: 100%;

    & .header_nav{
     
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 90px;
        padding-left: 20px;
       
        & .header_nav_link_container{
            position: relative;

            & .menu_despejable{
                position: absolute;
                top: -6%;
                left: -25%;
                width: 420px;
                z-index: 12;
                background: linear-gradient(0deg, #4ABBB4 0%, #CBDCDD 78.16%);
                animation: MenuDespejable 0.5s ease-in-out;
              

                & .menu_despejable_header{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 15px;
                    margin-top: 20px;
                    width: 100%;
                    height: fit-content;

                    & .menu_despejable_img{
                        outline: none;
                        width: 120px;
                        height: 120px;
                        border-radius: 50%;
                    }

                    & .menu_despejable_username_user_h2{
                        font-size: 26px;
                        font-weight: bold;
                        text-decoration: 3px underline;
                    }
                }

                & .menu_despejable_ul{
                    margin-top: 20px;
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    height: fit-content;
                    gap: 20px;

                    & .menu_despejable_li{
                        display: flex;
                        width: 100%;
                        height: 58px;
                        cursor: pointer;
                        background-color: aliceblue;
                    

                        & .menu_despejable_li_link{
                            text-decoration: none;
                            color: black;
                           
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 100%;

                            & .menu_despejable_li_img{
                                width: 86px;
                                height: 90px;
                            }
    
                            & .menu_despejable_li_p{
                                font-size: 24px;
    
                                & .menu_despejable_li_strong{
                                    font-weight: 700;
                                    
                                }
                            }
                        } 
                    }

                    & .menu_despejable_li_close{
                        animation: CerrarMenu 0.5s ease-in-out;
                    }
                }
            }

            & .header_nav_link{
                cursor: pointer;
              
                border-radius: 50%;
                width: 80px;
                height: 80px;
                display: flex;
                justify-content: center;
                align-items: center;
                
            }
        }
    }

    & .header_nav_segundo{
        height: 80px;
        width: 100%;
        gap:20px;
        padding-right: 30px;
        display: flex;
        justify-content: end;
        align-items: center;
        background-color: #a7a9e1;
        
        & .header_nav_segundo_link{
            text-decoration: none;

            & .figure_img_nav_segundo{
                height: 50px;
                width: 50px;

                & .img_icon_nav_segundo{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}

@keyframes MenuDespejable {
    0%{
        opacity: 0;

    }
    50%{
        opacity: 0.5;
        transform: translateX(5px);
    }

    100%{
        opacity: 1;
    }
}

@keyframes CerrarMenu {
    0%{
        opacity: 1;
    }

    50%{
        opacity: 0.5;
    }

    100%{
        opacity: 0;
    }
}