.iniciar_session_page_container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
    gap:30px;
    background: linear-gradient(180deg, rgba(176, 110, 169, 0.6039) 0%, rgba(213, 114, 203, 0.970517) 0.01%, rgba(216, 114, 206, 0.987965) 0.02%, rgba(218, 115, 208, 0.4455) 0.03%, rgba(163, 62, 153, 0.9207) 0.04%, rgba(201, 38, 185, 0.930166) 0.05%, rgba(254, 254, 254, 0.9207) 99.91%, rgba(212, 114, 202, 0.909113) 99.92%, rgba(216, 114, 206, 0.930166) 99.93%, rgba(216, 114, 206, 0.99) 99.94%, rgba(218, 115, 208, 0.99) 99.95%, rgba(218, 115, 208, 0.99) 99.96%, rgba(218, 115, 208, 0.8316) 99.97%, rgba(218, 115, 208, 0.81448) 99.98%);

    & .iniciar_session_page_form{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;

        & .iniciar_session_page_button{
            cursor: pointer;
            width: 456px;
            height: 57px;
            background-color: var(--background-color1);
            border: none;
            font-weight: 500;
            font-size: 24px;
            color:var(--color2);
            border-radius: 4px;
        }

        & .iniciar_session_page_button:hover{
            transition: all 0.3s ease-in-out;
            font-weight: 700;
            cursor: pointer;
            background-color: var(--background-color2);
        }

        & .iniciar_session_page_link{
            cursor: pointer;
            font-size: 20px;
            color:var(--color1);
        }

        & .iniciar_session_page_link:hover{
            font-weight: 700;
        }
    }
}