* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --background-color-header: #A4A6DD;
  /* Frame 2 */
  --width: 1280px;
  --height: 832px;
  --background-color1:#5358D0;
  --background-color2:#454bf9;
  --background-color3:#5358D0;
  --background-color4: #F4DEC7;


 --background: linear-gradient(0deg, #4ABBB4 0%, #CBDCDD 78.16%);


  --color1:#526BAB;
  --color2:#FFFAFA;

}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(/src/assets/img/img-fondo-home.png);
  height: 100%;
  width: 100%;
}


.container_home_page{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  background-image: url("/src/assets/img/img-fondo-home.png");

  & .container_posts_users{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
    gap: 25px;

  & .post_user{
    max-width: 600px;
    height: 600px;
    border-radius: 8px;
    background-color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/src/assets/img/img-fondo-postuser.png");
    background-repeat: round;
    
    & .section_post_user{
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      padding: 10px;
      flex-direction:column;

      & .header_post_user{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;

        & .div_post_user{
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: row;
          gap: 20px;

          
        & .img_perfil_post_user{
          width: 80px;
          height: 80px;
          border-radius: 60%;
        }

        & .h3_post_user{
          font-size: 24px;
        }
        }
      }

      & .article_post_user{
        display: flex;
        flex-direction: column;
        gap: 16px;

        & .img_post_user{
          width: 400px;
          height: 300px;
          border-radius: 8px;
          box-shadow: 0 0 20px 0 rgba(0,0,0,0.2), 0 5px 5px 0 rgba(0,0,0,0.24);
        }

        & .article_div_post_user_links{
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 20px;

          & .link_post_user{
            width: 80px;
            height: 80px;
            background-color: aqua;
            border-radius: 19px;

            & .link_post_user_img_icon{
              width: 100%;
              height: 100%;
            }
          }

          & .link_post_user:hover{
            transition: all 0.3s ease-in-out;
            
            background-color: rgb(0, 89, 255);
          }
        }
      }
    }
  }
}

}